<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                       https://logging.apache.org/xml/ns
                       https://logging.apache.org/xml/ns/log4j-config-2.xsd"
               packages="io.github.patbattb.moderant"
               name="App">

    <Appenders>
        <Console name="CONSOLE">
            <ThresholdFilter level="DEBUG"/>
            <PatternLayout pattern="%d [%t] %5p %c{1.3*} - %m%n"/>
        </Console>

        <RollingFile name="FILE"
                     fileName="manager.log"
                     filePattern="manager.log.%i.gz">
            <ThresholdFilter level="DEBUG"/>
            <PatternLayout pattern="%d [%t] %5p %c{1.3*} - %m%n"/>
            <DefaultRolloverStrategy max="5"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FILE"/>
        </Root>
        <Logger name="io.github.patbattb" level="DEBUG"/>
    </Loggers>

</Configuration>